.navbar {
    border-bottom: 1px solid rgba(0,0,0,.125);
    z-index: 2;

    .container {
        max-width: 1000px;

        a:hover {
            color: #28a745;
            text-decoration: none;
        }

        i {
            font-size: 1.25rem;
            margin-right: 0.65rem;
            color: #28a745;
        }

        .navbar-toggler {
            &:focus {
                outline: none;
            }
            &:active {
                background-color: #edeff2;
            }
        }

        .right {
            flex-flow: row nowrap;
            justify-content: flex-end;

            a:first-of-type {
                margin: 0 10px 0 0;
            }
        }

        .dropdown-item {
            a {
                display: block;
            }
        
            &:active {
                background-color: #f8f9fa;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .dropdown-menu {
            display: block;
        }
        .right.navbar-nav {
            margin-bottom: 5px;
        }
    }
}