.timeline {
  ul {
    padding: 0;

    li {
      list-style-type: none;
      position: relative;
      width: 6px;
      padding-top: 50px;
      background: #72e41b;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: inherit;
      }

      &:last-of-type::after {
        background: #60c016;
      }

      div {
        position: relative;
        left: 0;
        padding: 15px;
        background: #E9ECEF;
        border: 1px solid #E9ECEF;
        border-radius: 5px;
        display: inline-block;

        @media screen and (min-width: 768px) {
          width: 400px;
          bottom: 0;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 7px;
          width: 0;
          height: 0;
          border-style: solid;
        }
        .right-timeline-card-body::before {
          display: none;
        }

        .left-timeline-card-body::before {
          display: none;
        }
        @media screen and (min-width: 768px) {
          .right-timeline-card-body {
            margin-left: -60px !important;
            padding-bottom: 0 !important;
          }

          .left-timeline-card-body {
            margin-left: 423px !important;
            padding-bottom: 0 !important;
          }
        }

        .timeline-card-header {
          padding: 0 0 10px 0 !important;
          background-color: #E9ECEF;
        }

        .timeline-card-badge {
          padding: 0 4px 0 4px;
          margin-right: 8px;
        }

        .timeline-card-button {
          width: 30%;
          margin-left: 250px;
          margin-top: 10px;
          padding: 2px;
        }
      }

      @media screen and (min-width: 768px) {
        margin: 0 auto;
      }

      &:nth-child(odd) {
        div {
          @media screen and (min-width: 768px) {
            left: 45px;
          }

          &::before {
            @media screen and (min-width: 768px) {
              left: -16px;
            }
            border-width: 8px 16px 8px 0;
            border-color: transparent #E9ECEF transparent transparent;
          }
        }
      }
      &:nth-child(even) {
        div {
          @media screen and (min-width: 768px) {
            left: -439px;
          }

          &::before {
            @media screen and (min-width: 768px) {
              right: -16px;
            }
            border-width: 8px 0 8px 16px;
            border-color: transparent transparent transparent #E9ECEF;
          }
        }
      }
    }
  }
}





.project-page {
    .edit-project-button {
        border-radius: 0;
        border-top-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        float: right;
    }
    .project-jumbotron {
        padding: 2rem;
    }
    .project-image {
        width: 100%;
        border-radius: 0.3rem;
        margin-bottom: 2rem;
    }
    .project-details-card {
        margin-bottom: 2rem;
        // border-color: #28a745;
    }
    .journey-card {
        margin-bottom: 2rem;
        border-color: #28a745;

        .header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            i {
                color: #4f9c58;
                margin: 0 0.5rem 0 1rem;
            }
        }

        .event-timeline {
            display: flex;
            flex-flow: column nowrap;
            margin-top: 2rem;

            .event-row {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                &:first-child {
                    .event-node {
                        &:before {
                            height: 0;
                        }
                    }
                }

                &:last-child {
                    .event-node {
                        &:after {
                            height: 0;
                        }
                    }
                }

                .event-date {
                    margin: 0;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    width: 5rem;
                    min-width: 5rem;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 50%;
                        left: 100%;
                        border: 1rem solid transparent;
                        border-top-color: #e2e3e5;
                        border-right: 0;
                        transform: rotate(45deg);
                        margin-left: -0.9rem;
                        margin-bottom: -20px;
                    }
                    
                    .week-day {
                        font-variant: small-caps;
                        font-weight: bold;
                        font-size: 1.1rem;
                    }
                }

                .event-node {
                    display: flex;
                    position: relative;
                    flex-flow: row nowrap;
                    justify-content: center;
                    color: #4f9c58;
                    margin: 0 4rem;

                    &:before {
                        content: '';
                        width: 1px;
                        height: 6.5rem;
                        background: #74b077;
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        margin-left: -1px;
                    }

                    &:after {
                        content: '';
                        width: 1px;
                        height: 6.5rem;
                        background: #74b077;
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -1px;
                    }
                }

                .event-description {
                    width: 500px;
                    margin-bottom: 2rem;
                    
                    .event-card-body {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-end;
                    }
                }
            }
        }

        hr {
            margin-bottom: 2rem;
        }

        .event-card {
            margin-bottom: 1rem;

            .event-view-button {
                margin-top: 1rem;
            }
        }
    }
    .alliance-card {
        margin-bottom: 2rem;

        .alliance-card-body {
            display: flex;
            flex-flow: row wrap;
            padding-right: 0.25rem;
    
            .organization-card {
                flex: 1 30%;
                margin: 0 1rem 1rem 0;
    
                .organization-card-body {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;

                    .org-view-button {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}


.card-org-image {
  width: 90%;
  height: 300px;
  margin: auto;
}

.org-card-body {
  padding: 0;
}

.org-card-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}

.alliance-header {
  display: flex;
  justify-content: center;
}

