.add-event-page {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    max-width: 600px;

    .add-event-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}