.organization.select-confirmation {
  font-weight: bold;
  color: #222;

  i.fas.fa-times-circle {
    color: #666;
    transition: color .25s ease-in-out;
    font-size: 18px;

    &:hover {
      color: #222;
    }
  }

  &:hover {
    background: #dddddd;
    transition: background .25s ease-in-out;
  }
}