@import '../../../variables';

.hamburger-menu-container {
  display: none;
  justify-content: flex-start;
  z-index: 1000;
  width: 100%;

  &.show {
    display: flex;

    &.open {
      .hamburger-menu {
        div {
          background-color: #f5f5f5;
        }
        div.one {
          transform: translateY(9px) rotate(45deg);
        }
        div.two {
          visibility: hidden;
        }
        div.three {
          transform: translateY(-15px) rotate(-45deg);
        }
      }
    }
  }

  .hamburger-menu {
    margin: 5px 15px;
    div {
      width:35px;
      height: 6px;
      border-radius: 2.5rem;
      background: $ecan-green;
      margin: 6px 0;
      transition: background-color .25s ease, transform .25s ease;
    }
  }
}