.org-page {
    hr {
        margin: 2rem 0;
    }

    .org-header {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 2rem;

        .org-name {
            margin: 0;
        }
    }

    .org-content {
        display: flex;
        flex-flow: row nowrap;

        .side {
            flex: 1;
            margin-right: 2rem;
            flex-flow: column nowrap;

            .join-project-button, .edit-org-button {
                width: 100%;
                margin-bottom: 1rem;
            }

            .contact {
                margin-bottom: 2rem;
            }
    
            .org-members {
                margin-bottom: 2rem;
        
                h5 {
                    margin: 0;
                }

                .org-member {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
    
                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        margin-right: 1rem;
                        border-radius: 50%;
                    }
                    
                    &:not(:last-of-type) {
                        padding-bottom: 1rem;
                        border-bottom: 1px solid rgba(0,0,0,.1);
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    
        .main {
            flex: 2;

            .description {
                margin-bottom: 2rem;

                h5 {
                    margin: 0;
                }
            }
    
            .org-projects {
                margin-bottom: 2rem;
        
                h5 {
                    margin: 0;
                }
        
                .org-projects-body {
                    display: flex;
                    flex-flow: column wrap;
        
                    .project-card {
                        margin-bottom: 1rem;
            
                        .project-card-body {
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: flex-start;
                            justify-content: space-between;

                            .top {
                                width: 100%;
                            }
        
                            .project-view-button {
                                width: 100%;
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}