header {
  background: #fff;
  width: 100%;
  z-index: 250;
  -webkit-transition: position .5s;
  -moz-transition: position .5s;
  -o-transition: position .5s;
  top: 0;
  transition: all 1s ease;

  position: sticky;
  opacity: 0.85;
}
