nav a {
  margin: 0 5px;
}

.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0A38F5;
}
.dark-pink-text {
  color: #AC003A;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}                
        

.react-calendar {
  border: 0 !important;
  border-radius: 0.25rem;
}

.react-calendar button {
  border-radius: 0.25rem;
}
a:hover {
	text-decoration: none;
}
